.dashboard-container {
    display: flex;      /* Aktiviert die Nebeneinander-Anordnung */       /* Nutzt die volle Breite */
    align-items: flex-start;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    height: 88vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}